/* App.css */

.App {
  text-align: center;
  background-color: white; /* Page background color */
}

.App-header {
  background-color: #304cb2; /* Header background color */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Aligns menu and logo on opposite sides */
  padding: 5px 40px; /* You can adjust this for spacing */
  color: white;
}

/* Add styles for the menu to be horizontal */

.menu ul {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style-type: none;
}

.menu li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu li:hover {
  color: darkred; /* Adjust this if you want a different hover color */
}
